
.login-container {
  display: flex;
  width: 300px; /* Adjusted for better readability */
  height: auto; /* No fixed height to accommodate content */
  padding: 20px;
  border-radius: 10px;
  background-color: #eef7ff;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Centering trick */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  align-items: center;
  flex-direction: column;
}

.header {
  color: #102c57;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 20px; /* Increased spacing */
}

.form-container {
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.login-btn {
  width: 100%; /* Full width button */
  margin-top: 5px;
  height: 40px;
  background-color: #4ac1a3;
  color: #fff;
  font-weight: 900;
  transition: background-color 0.2s ease;
}

.login-btn:hover {
  background-color: #2e7e73;
}

.login-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #aaa; /* Lighter cancel icon */
}

/* Responsive adjustments */
@media (max-width: 400px) {
  .login-container {
    width: 90%; /* Adjust for smaller screens */
  }
}
