.register_container {
    display: flex;
    width: 300px; /* Adjusted for better readability */
    padding: 20px;
    border-radius: 10px;
    background-color: #eef7ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    color: #102c57;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
    align-items: center;
  }
  
  .register_btn {
    width: calc(100%); /* Full width minus padding */
    margin-top: 5px; /* Increased margin for better spacing */
    height: 40px;
    background-color: #4ac1a3;
    color: #fff;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  
  .register_btn:hover {
    background-color: #2e7e73;
  }
  
  .register_cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack form items vertically */
  }
  
  .input_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Increased margin for better spacing */
  }
  
  .input_wrapper > * {
    margin-right: 10px; /* Spacing between icon and input */
  }
  
  .input_wrapper > .MuiTextField-root {
    flex: 1; /* Take remaining space */
  }
  
  /* Adjustments for icons */
  .MuiSvgIcon-root {
    font-size: 20px; /* Adjust icon size */
  }
  