.gbox {
  top: 0;
  position: absolute;
  z-index: 4;
  
}
.searchContainer {
  position: relative;
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 10px 4px 3px 15px;
}

.searchIcon {
  background: whitesmoke;
}
input {
  padding-left: 10px;
  height: 100%;
  line-height: 24px;
}
.d1 {
  position: absolute;
  margin-top: 5px;
  padding-left: 15px;
  width: 300px;
}
.d2 {
  cursor: pointer;
  padding: 1px 3px 1px 3px;
  cursor: pointer;
  background-color: azure;
}


